<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171956098401-hqf2bvud5h5f700ah8u5bjthvipv2iin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171956098401-hqf2bvud5h5f700ah8u5bjthvipv2iin</string>
	<key>API_KEY</key>
	<string>AIzaSyCtF9x9gi4tN7tZxBJrJWHon1Ht8oSKa2s</string>
	<key>GCM_SENDER_ID</key>
	<string>171956098401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.iMoment.FirebaseSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-sociallogin-91072</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sociallogin-91072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:171956098401:ios:4f425990ba0dce60</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sociallogin-91072.firebaseio.com</string>
</dict>
</plist>